In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
#importation des differents modules 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#1-recuperation du dataset Coeur
data = pd.read_excel(r'/content/gdrive/My Drive/Coeur.xlsx')

In [5]:
#2-copie de data dans df 
df = data.copy()

In [6]:
#3- Verifier s'il y a des doublons et les supprimer
df.duplicated().sum()
df.drop_duplicates()

     AGE   SEXE  TDT  PAR  ...  ANGINE  DEPRESSION       PENTE  CŒUR
0     40  homme   AA  140  ...     Non          0.0  Ascendant     0
1     49  femme  DNA  160  ...     Non          1.0       Plat     1
2     37  homme   AA  130  ...     Non          0.0  Ascendant     0
3     48  femme  ASY  138  ...     Oui          1.5       Plat     1
4     54  homme  DNA  150  ...     Non          0.0  Ascendant     0
..   ...    ...  ...  ...  ...     ...          ...        ...   ...
913   45  homme   AT  110  ...     Non          1.2       Plat     1
914   68  homme  ASY  144  ...     Non          3.4       Plat     1
915   57  homme  ASY  130  ...     Oui          1.2       Plat     1
916   57  femme   AA  130  ...     Non          0.0       Plat     1
917   38  homme  DNA  138  ...     Non          0.0  Ascendant     0

[918 rows x 12 columns]

In [7]:
#4- Verifier s'il existe des variables constante( variable avec une seule modalité)

In [8]:
#5-Verifier s'il y a des données manquante 
df.isna().sum()

AGE            0
SEXE           0
TDT            0
PAR            0
CHOLESTEROL    0
GAJ            0
ECG            0
FCMAX          0
ANGINE         0
DEPRESSION     0
PENTE          0
CŒUR           0
dtype: int64

In [9]:
#6

In [10]:
#7-Faire le recodage de toutes les variables qualitative
def recod(params):
  return params.astype('category').cat.codes

In [11]:
def recod_global(data):
  for col in data.select_dtypes('object').columns:
    data[col] = recod(data[col])
    return data

In [25]:
recod_global(df)

     AGE  SEXE  TDT  PAR  CHOLESTEROL  ...  FCMAX  ANGINE  DEPRESSION   PENTE  CŒUR
0     40     1    0  140          289  ...    172       0          0.0      0     0
1     49     0    3  160          180  ...    156       0          1.0      2     1
2     37     1    0  130          283  ...     98       0          0.0      0     0
3     48     0    1  138          214  ...    108       1          1.5      2     1
4     54     1    3  150          195  ...    122       0          0.0      0     0
..   ...   ...  ...  ...          ...  ...    ...     ...          ...    ...   ...
913   45     1    2  110          264  ...    132       0          1.2      2     1
914   68     1    1  144          193  ...    141       0          3.4      2     1
915   57     1    1  130          131  ...    115       1          1.2      2     1
916   57     0    0  130          236  ...    174       0          0.0      2     1
917   38     1    3  138          175  ...    173       0          0.0      0     0

[918 rows x 12 columns]

In [26]:
#8-Separation des données 

Y = df[['CŒUR']]
X = df[['AGE','SEXE','TDT', 'PAR','CHOLESTEROL','GAJ','ECG','FCMAX','ANGINE','DEPRESSION ','PENTE']]
X

     AGE  SEXE  TDT  PAR  CHOLESTEROL  ...  ECG  FCMAX  ANGINE  DEPRESSION   PENTE
0     40     1    0  140          289  ...    1    172       0          0.0      0
1     49     0    3  160          180  ...    1    156       0          1.0      2
2     37     1    0  130          283  ...    2     98       0          0.0      0
3     48     0    1  138          214  ...    1    108       1          1.5      2
4     54     1    3  150          195  ...    1    122       0          0.0      0
..   ...   ...  ...  ...          ...  ...  ...    ...     ...          ...    ...
913   45     1    2  110          264  ...    1    132       0          1.2      2
914   68     1    1  144          193  ...    1    141       0          3.4      2
915   57     1    1  130          131  ...    1    115       1          1.2      2
916   57     0    0  130          236  ...    0    174       0          0.0      2
917   38     1    3  138          175  ...    1    173       0          0.0      0

[918 rows x 11 columns]

In [27]:
#9-Utilisation de la fonction train_test_split du module model_selection de sklearn

from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=1)
print('Train_set :',X_train.shape)
print('test_set :',X_test.shape)

Train_set : (734, 11)
test_set : (184, 11)

In [29]:
#10-Regression logistique 
from sklearn.linear_model import LogisticRegression

In [30]:
logReg = LogisticRegression()
logReg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [31]:
#11- Affichage de la probabilité d'appartenance à chacune des classes de la variable coeur

logReg.predict_proba(X_test[:5])

array([[0.31694466, 0.68305534],
       [0.16060056, 0.83939944],
       [0.03210665, 0.96789335],
       [0.09450818, 0.90549182],
       [0.20026478, 0.79973522]])

In [32]:
#12- Prediction de la classe d'appartenance de chaque individu de X_test
logReg.predict(X_test)

array([1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0])

#13- Matrice de confusion, taux de succès, sensibilité et précision du model

In [ ]:
# Matrice de confusion
from sklearn.metrics import confusion_matrix